nav {
    background-color: #F7DED0;
    cursor: pointer;   
}

nav ul {
    display: flex;/* Align list items in a row */
    justify-content: end;
    list-style: none;/* Remove points */
    padding: 10px 0px;
}

nav ul li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;/*remove underline */
    padding: 5px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;

}


body {
    margin: 8px;
    display: block;
    background-color: #FEECE2;
    width: 100vw;
    height: 100vh;
    max-width: 1024px;
   overflow-x: hidden;
}


main {
    box-sizing: border-box;
}


#mainHeading {
    color: red;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

#mainWord {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    text-align: right;
    font-style: italic;   
}

.firstChapter {
    font-family: Arial, sans-serif;
    text-transform: uppercase;   
}


#about {
    text-align: center;
}


#hi {
    text-align: left;
}


.container1 {
    display: flex;
    height: auto;
}


.image-container1 {  
    justify-content: center;
    margin: 20px;
}


.text-container1 {  
    padding: 20px;
}


.text-container1 h3 {
    text-align: center;
    justify-content: center;
    margin-top: 0;
    font-size: 19px;
    text-align: justify;   
}


.text-container1 p {
    line-height: 1.6;
    font-size: 15px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    text-align: justify;   
}


.funParagraph {
    color: green;
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
    border-left: 4px solid green;
    padding-left: 10px;
    background-color: #F7DED0;
}


.funLine {
    background-color: #F7DED0;
    font-family: Arial, sans-serif;
}


#copy {
    text-align: center;
    padding: 10px 10px;
}


.theChapter {
    text-align: center;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    margin: 40px 0px 10px 0px;
}

.descriptionChapter {
    line-height: 1.6;
    font-size: 15px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    text-align: justify;
    margin: 10px 20px;
}


.firstImage {
    margin: 5px 15px;
}

.secondImage {
    margin: 5px 20px;
}

.thirdImage {
    margin: 5px 20px;

}

.forthImage {
    margin: 20px 20px 40px 40px;

}

#contact {
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
}

hr {
    border: 0;
    height: 2px; 
    background-color: #E2BFB3;
    width: 70%; 
    margin: 0px auto;


}